[dark-container],
[dark-container] [pam-Menu-Children] {
    background-color: #1d262e;

    [pam-menu-link] {
        padding: 24px 16px;
        color: #fff;
    }

    [pam-Menu-Link]:hover {
        background-color: #fff;
        color: #1d262e;
    }
}

[film-container] {
    padding: 8px;

    [content] {
        padding: 16px;
        max-width: 500px;
    }

    [content-grid] {
        margin-top: 48px;
        justify-content: center;
    }

    [pam-typography='headline'],
    [imdb],
    [people-and-country] {
        padding: 8px 0;
    }
}

[footer] {
    padding: 24px 48px;
    margin-top: 48px;

    a {
        color: #8a909a;
        font-size: 14px;
    }

    [pam-typography='subheading'] {
        color: white;
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;

        li {
            padding: 8px 0;
        }
    }
}
